<section data-ng-controller="HomeController">
	<div class="sidebar left hidden-xs">
		<a id="brand" href="/#!/">Esi-Life</a>

		<div id="menu" data-scrollable>
			<ul>
				<li class="category">Navigation</li>
				<li class="{% if (page.slug == '') %} active {% endif %}">
					<a href="/#!/statuses"><i class="icon-ship-wheel"></i> Status</a>
				</li>
				<li class="{% if (page.slug == 'profile') %} active {% endif %}">
					<a href="/#!/pub-imags"><i class="icon-user-1"></i> Images</a>
				</li>
				<li class="{% if (page.slug == 'users') %} active{% endif %}">
					<a href="/#!/pub-videos"><i class="fa fa-group"></i> Videos</a>
				</li>
				<li class="{% if (page.slug == 'messages') %} active{% endif %}">
					<a href="/#!/offres"><i class="icon-comment-fill-1"></i> Offres</a>
				</li>
				<li class="{% if (page.slug == 'messages') %} active{% endif %}">
					<a href="/#!/evenements"><i class="icon-comment-fill-1"></i> Evenements</a>
				</li>
				<li class="{% if (page.slug == 'login') %} active{% endif %}">
					<a href="/#!/signIn"><i class="icon-lock-fill"></i> S'identifier</a>
				</li>
				<li class="category border top">Fils d'actualités</li>
				<li class="reset">
					<ul>
						<li class="media news-item">
							<span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Vient de se connecter
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
						<li class="media news-item">
							<span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Venez d'ajouter <a href="" class="text-white">mosaicpro</a>
								Comme leur bureau
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
						<li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Vient de se connecter
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
						<li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Vient de se connecter
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
						<li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Vient de se connecter
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
					</ul>
				</li>
				<li class="category">Filtre</li>
				<li class="reset">
					<ul>
						<li><a href="#"><span class="fa fa-fw fa-circle-o text-success"></span> Travaux connexes</a>
						</li>
						<li><a href="#"><span class="fa fa-fw fa-circle-o text-primary"></span> Très important</a></li>
						<li><a href="#"><span class="fa fa-fw fa-circle-o text-info"></span> Amis &amp; Famille</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</section>
