<section data-ng-controller="HomeController">
	<div class="sidebar left hidden-xs">
		<a id="brand" href="/#!/">Esi-Life</a>

		<div id="menu" data-scrollable>
			<ul >
				<li class="category">Navigation</li>
				<li data-ng-repeat="item in menu.items | orderBy: 'position'"
					ng-switch="item.menuItemType"
					ui-route="{{item.uiRoute}}" ng-class="{active: ($uiRoute)}"
						>
					<a ng-switch-default href="/#!/{{item.link}}"><i class="{{item.menuItemClass}}"></i>
						<span data-ng-bind="item.title"></span></a>
				</li>
				<li class="category border top">Fils d'actualités</li>
				<li class="reset">
					<ul>
						<li class="media news-item">
							<span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Vient de se connecter
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
						<li class="media news-item">
							<span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Venez d'ajouter <a href="" class="text-white">mosaicpro</a>
								Comme leur bureau
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
						<li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Vient de se connecter
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
						<li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Vient de se connecter
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
						<li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>

							<div class="media-body">
								<a href="" class="text-white">Adrian</a> Vient de se connecter
								<span class="time">Il ya 2 minutes</span>
							</div>
						</li>
					</ul>
				</li>
				<li class="category">Filtre</li>
				<li class="reset">
					<ul>
						<li><a href="#"><span class="fa fa-fw fa-circle-o text-success"></span> Travaux connexes</a>
						</li>
						<li><a href="#"><span class="fa fa-fw fa-circle-o text-primary"></span> Très important</a></li>
						<li><a href="#"><span class="fa fa-fw fa-circle-o text-info"></span> Amis &amp; Famille</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</section>
