<section data-ng-controller="StatusesController" >

    <form data-ng-submit="create()" novalidate>
        <div class="timeline-block">
        <div class="panel panel-default share">
        <div class="panel-heading panel-heading-gray title">
            Quoi de noeuf
        </div>
        <div class="panel-body">
            <textarea name="status" class="form-control share-text" data-ng-model="name" rows="3" placeholder="Partager ton status..."></textarea>
        </div>
            <p>{{name}}</p>
        <div class="panel-footer share-buttons">
            <a href="#">
                <i class="fa fa-map-marker"></i>
            </a>
            <a href="#">
                <i class="fa fa-photo"></i>
            </a>
            <a href="#">
                <i class="fa fa-video-camera"></i>
            </a>
            <button type="submit" class="btn btn-primary btn-xs pull-right " href="#">Publier</button>
        </div>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
        </div>
        </div>
    </form>
</section>
