<section data-ng-controller="StatusesController" data-ng-init="find()">
    <div class="timeline-block">
        <div data-ng-repeat="status in statuses" data-ng-href="#!/statuses/{{status._id}}" class="panel panel-default">
            <div class="panel-heading">
                <div class="media">
                    <a href="" class="pull-left"><img src="images/people/50/guy-2.jpg" class="media-object"></a>

                    <div class="media-body">
                        <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                        <a class="pull-right text-muted" data-ng-click="remove(status);">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <a href=""><span data-ng-bind="status.user.displayName"></span></a>
                        <span>on <span data-ng-bind="status.created | date:'medium'"></span></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p data-ng-bind="status.name"></p>
            </div>

            <ul class="comments" data-ng-controller="LikesController as LikesCtrl"
                data-ng-init="LikesCtrl.find(status)">
                <div class="media">
                    <div class="media-body">
                        <a href="" class="comment-author like-body" ng-click=" LikesCtrl.createLikeStatus(status)">
                            <span ng-hide="aime">j'aime</span></a>
                        <a href="" class="comment-author" ng-click="LikesCtrl.removeLikeStatus(status)">
                            <span ng-show="aime">je n'aime plus</span></a>
                    </div>
                </div>
                <div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> afficher tout</a>  10 comments</div>
            </ul>
            <ul class="comments" data-ng-controller="CommentsController as CommentsCtrl" data-ng-init="CommentsCtrl.find(status)">
                <!--<li>
                    <div class="view-all-comments">
                        <a href="#">
                            il y a
                            <span data-ng-bind="CommentsCtrl.commentsList.newlength"></span>
                        </a>
                            commentaires
                    </div>
                </li>-->
                <li data-ng-repeat="comment in commentsList"
                    data-ng-href="#!/statuses/{{status._id}}/comments/{{comment._id}}">
                     <div class="media" ng-hide="Update">
                         <a href="" class="pull-left"><img src="images/people/50/guy-4.jpg" class="media-object"></a>
                        <div class="media-body">
                            <a class="pull-right text-muted" ng-click="CommentsCtrl.removeCommentStatus(status,comment)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            <a class="pull-right text-muted" ng-click="Update=true">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="" class="comment-author"><span data-ng-bind="comment.user.displayName"></span></a>
                            <span data-ng-bind="comment.name"></span>
                            <div class="comment-date"><span data-ng-bind="comment.created | date:'medium'"></span></div>
                        </div>
                    </div>
                     <div ng-show="Update">
                         <form class="form-horizontal"
                               data-ng-submit="Update=false;CommentsCtrl.updateCommentStatus(status,comment)"
                               novalidate>
                             <div class="input-group">
                                 <input type="text" data-ng-model="comment.name" class="form-control">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Update!</button>
                                      </span>
                             </div>
                             <!-- /input-group -->
                         </form>
                     </div>
                </li>

                <li >
                    <div >
                        <form class="form-horizontal" data-ng-submit="CommentsCtrl.createCommentStatus(status)" novalidate>
                            <div class="input-group">
                                <input type="text" data-ng-model="name" class="form-control" placeholder="Rédiger un commentaire...">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                      </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!statuses.$resolved || statuses.length">
            No Statuses yet, why don't you <a href="/#!/statuses/create">create one</a>?
        </div>
    </div>
</section>
