.creerEvenements{
    background-color: #ffffff;
}

.glyphicon-trash:hover {
    color: red;
}

.glyphicon-pencil:hover {
    color: #73db68;
}

.glyphicon-trash {
    margin-right: 10px;
}
.panel-body-event{

}

.titre{
    font-size: 22px;
    font-weight: bold;
    color: #02d4e5;
}

.date{
    font-size: 18px;
    color: #0dc7e5;
}

.nom-user {
    color: #ffffff;
    font-weight: bold;
}

.nom-user:hover {
    color: #ffffff;
}
