<section data-ng-controller="PubVideosController" data-ng-init="findOne()">

    <div class="page-header">
         <div class="col-xs-6">
             <h1 data-ng-bind="pubVideo.description"></h1>
            <video ng-src={{data.data}}  class="thumbnail col-xs-12"/>
        </div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == pubVideo.user._id))">
		<a class="btn btn-primary" href="/#!/pub-videos/{{pubVideo._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="pubVideo.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="pubVideo.user.displayName"></span>
		</em>
	</small>
</section>
