
<section data-ng-controller="ContenusController" data-ng-init="find()">
    <div class="timeline-block">


    <div class="panel panel-default" >
        <form novalidate>
            <div class="timeline-block"  >
                <div class="panel panel-default share">
                    <div class="panel-heading panel-heading-gray">
                        <div class="navbar-header fixed">
                            <ul class="nav nav-tabs nav-justified">
                                <li ng-class="{'active': navbar == 'status'}"><a href ng-click="navbar = 'status'"><i class="fa fa-pencil"></i> Status</a></li>
                                <li ng-class="{'active': navbar == 'photo' }"><a href ng-click="navbar = 'photo'"><i class="fa fa-photo"></i> Photo</a></li>
                                <li ng-class="{'active': navbar == 'video' }"><a href ng-click="navbar = 'video'"><i class="fa fa-video-camera"></i> Video</a></li>
                                <li ng-class="{'active': navbar == 'offre' }" data-ng-controller="OffresController as OffresCtrl">
                                    <a href ng-click="navbar = 'offre'; OffresCtrl.modalCreate(); OffresCtrl.find()">
                                    <i class="fa fa-graduation-cap"></i>
                                    offre
                                </a></li>
                                <li ng-class="{'active': navbar == 'evenement' }" data-ng-controller="EvenementsController as EvenementsCtrl" >
                                    <a href ng-click="navbar = 'evenement'; EvenementsCtrl.modalCreate(); EvenementsCtrl.find()">
                                        <i class="fa fa fa-fw fa-calendar"></i>
                                        Evenement
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div ng-show="navbar == 'photo'"  data-ng-controller="PubImagsController as PubImagsCtrl">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="tab-pane" id="tab1" >
                                        <div class="form-horizontal " novalidate >
                                            <fieldset>
                                                <div class="inline">
                                                    <div class="col-xs-6">
                                                        <div class="thumbnail" >
                                                            <img id='image' ng-src={{image_data_thumbnail}} >
                                                        </div>
                                                    </div>

                                                    <div class="input-group">
                                                        <input type="text" class="form-control"  value="{{files[0].name}}">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary btn-file" >
                                                            <input type="file"   ng-file-select  data-ng-model="files"  accept="image/*">
                                                            <i class="fa fa-download"></i>
                                                        </button>
                                                    </span>
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="progress">
                                                    <div class="progress-bar" id="bar1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"/>
                                                </div>
                                                <span class="input-group-btn">
                                                    <button  ng-click="PubImagsCtrl.upload(files)" class="btn btn-primary btn-xs pull-right " >upload</button>
                                                </span>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer input-groupe">
                                    <div class="form-horizontal"  novalidate>
                                        <textarea name="commentaire"  placeholder="ajouter un commentaire..." class="form-control share-text" data-ng-model="description"></textarea>
                                        <span class="input-group-btn">
                                            <button ng-click="PubImagsCtrl.create()" class="btn btn-primary btn-xs pull-right " >Publier</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="navbar == 'status'">
                            <textarea name="status" class="form-control share-text" data-ng-model="name" rows="3" placeholder="Partager ton status..."></textarea>
                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <tags-input class="bootstrap"
                                            ng-model="tags"
                                            placeholder="Ajouter un Tag"
                                            replace-spaces-with-dashes="false">
                                </tags-input>
                            </div>
                    </div>
                        <button type="submit" ng-click="create()" class="btn btn-default pull-right " href="#">Publier <i class="text-primary fa fa-arrow-circle-o-right"></i></button>
                    </div>
                    </div>
                </div>
        </form>
    </div>
        <a class="btn btn-default pull-right" ng-click="predicate = predicate == 'created' ? 'likes.length' : 'created';predicateInv=!predicateInv"><i class="text-primary fa fa-sort-amount-desc"></i></a>
        <div data-ng-repeat="contenu in contenus | filter:filterByTag | orderBy: [predicate,'created']:true" data-ng-href="#!/contenus/{{contenu._id}}"
             class="panel panel-default" ng-class="{'profile-card':contenu.typeC == 'offre'|| contenu.typeC == 'evenement'}">
            <div class="panel-heading" ng-hide="contenu.typeC == 'offre'|| contenu.typeC == 'evenement'">
                <div class="media">
                    <a href="" class="pull-left"><img src="images/people/50/guy-2.jpg" class="media-object"></a>

                    <div class="media-body" >
                        <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                        <a class="pull-right text-muted" data-ng-click="remove(contenu);">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <a href=""><span data-ng-bind="contenu.user.displayName"></span></a>
                        <span>En <span data-ng-bind="contenu.created | date:'medium'"></span></span>
                    </div>
                </div>
            </div>
            <div class="panel-body" >
                <div  ng-show="contenu.typeC == 'offre'" data-ng-controller="OffresController as OffresCtrl" data-ng-init="contenu.offre ? OffresCtrl.findOne(contenu.offre) : null">
                        <div class="profile-card-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h4 class="text-center" >Offre d'Emploie</h4>
                        <div class="panel-heading">
                            <div class="media">
                                <a href="" class="pull-left"><img src="images/people/50/guy-2.jpg" class="media-object"></a>

                                <div class="media-body">
                                    <a class="pull-right text-muted" ng-click="OffresCtrl.modalUpdate('lg',offre)">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a class="pull-right text-muted" data-ng-click="OffresCtrl.remove(contenu)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                    <a class="nom-user"><span data-ng-bind="offre.user.displayName"></span></a>
                                    <span>En <span data-ng-bind="offre.created | date:'medium'"></span></span>
                                </div>
                            </div>
                        </div>
                        <ul class="profile-card-items">
                            <li><i class="fa fa-institution"></i>{{offre.entreprise}}</li>
                            <li><i class="fa fa-desktop"></i>{{offre.post}}</li>
                            <li><i class="fa fa-graduation-cap"></i><span ng-repeat="compet in offre.competences">{{compet}}, </span></li>
                            <li><i class="fa fa-suitcase"></i><span ng-repeat="docum in offre.documents">{{docum}}, </span></li>
                        </ul>
                    </div>
                <div ng-show="contenu.typeC == 'evenement'" data-ng-controller="EvenementsController as EvenementsCtrl" data-ng-init="contenu.evenement ? EvenementsCtrl.findOne(contenu.evenement) : null">
                    <div class="profile-card-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <h4 class="text-center" >Evenement</h4>
                    <div class="panel-heading">
                        <div class="media">
                            <a href="" class="pull-left"><img src="images/people/50/guy-2.jpg" class="media-object"></a>

                            <div class="media-body">
                                <a class="pull-right text-muted" ng-click="EvenementsCtrl.modalUpdate('lg',offre)">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a class="pull-right text-muted" data-ng-click="EvenementsCtrl.remove(contenu)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                                <a class="nom-user"><span data-ng-bind="evenement.user.displayName"></span></a>
                                <span>En <span data-ng-bind="evenement.created | date:'medium'"></span></span>
                            </div>
                        </div>
                    </div>

                    <ul class="profile-card-items ">
                        <li><i class="fa fa-comment-o"></i> {{evenement.description}}</li>
                        <li><i class="fa fa-globe"></i> {{evenement.lieu}}</li>
                        <li><i class="fa fa-calendar-o"></i> {{evenement.date | date:'mediumDate'}}</li>
                        <li><i class="fa fa-clock-o"></i> {{evenement.date | date:'mediumTime'}}</li>
                    </ul>
                    <div class="innerAll text-center half">
                        <div class="btn-group">
                            <button class="btn btn-success"><i class="fa fa-fw fa-check"></i> Aller</button>
                            <button class="btn btn-default">Peut être</button>
                        </div>
                    </div>
                </div>
                <p ng-show="contenu.typeC == 'status'" data-ng-bind="contenu.name"></p>
                <a ng-show="contenu.typeC == 'image'" data-ng-controller="PubImagsController as PubImagsCtrl" data-ng-init="contenu.pubImag ? PubImagsCtrl.findOne(contenu.pubImag) : null">
                    <h1 data-ng-bind="pubImag.description"></h1>
                    <div class="thumbnail"><img ng-src="{{dataImageUrl.data}}" /></div>
                </a>
            </div>
                <ul class="comments">
                    <div class="media">
                        <div class="media-body">
                            <button data-ng-repeat="tag in contenu.tags" class="btn btn-primary btn-xs">
                                <i class="fa fa-tag"></i> <span data-ng-bind="tag.text"></span>
                            </button>
                        </div>
                    </div>
                </ul>
                <ul class="comments" data-ng-controller="LikesController as LikesCtrl"
                data-ng-init="LikesCtrl.find(contenu)">
                <div class="media">
                    <div class="media-body">
                        <button class="btn btn-primary btn-circle" data-toggle="tooltip"
                                ng-hide="aime" ng-click=" LikesCtrl.createLikeContenu(contenu)"
                                data-original-title="{{list}}" data-placement="top">
                            <span class="fa fa-fw fa-thumbs-o-up"></span>
                        </button>
                        <button class="btn btn-primary btn-circle" data-toggle="tooltip"
                                ng-show="aime" ng-click=" LikesCtrl.removeLikeContenu(contenu)"
                                data-original-title="{{list}}" data-placement="top">
                            <span class="fa fa-fw fa-thumbs-o-down"></span>
                        </button>
                    </div>
                </div>
            </ul>
            <ul class="comments" data-ng-controller="CommentsController as CommentsCtrl"
                data-ng-init="CommentsCtrl.find(contenu)">
                <li data-ng-repeat="comment in commentsList"
                    data-ng-href="#!/contenus/{{contenu._id}}/comments/{{comment._id}}">
                    <div class="media" ng-hide="Update">
                        <a href="" class="pull-left"><img src="images/people/50/guy-4.jpg" class="media-object"></a>

                        <div class="media-body">
                            <a class="pull-right text-muted"
                               ng-click="CommentsCtrl.removeCommentContenu(contenu,comment)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            <a class="pull-right text-muted" ng-click="Update=true">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="" class="comment-author"><span data-ng-bind="comment.user.displayName"></span></a>
                            <span data-ng-bind="comment.name"></span>

                            <div class="comment-date"><span data-ng-bind="comment.created | date:'medium'"></span></div>
                        </div>
                    </div>
                    <div ng-show="Update">
                        <form class="form-horizontal"
                              data-ng-submit="Update=false;CommentsCtrl.updateCommentContenu(contenu,comment)"
                              novalidate>
                            <div class="input-group">
                                <input type="text" data-ng-model="comment.name" class="form-control">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Update!</button>
                                      </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </li>

                <li>
                    <div>
                        <form class="form-horizontal" data-ng-submit="CommentsCtrl.createCommentContenu(contenu)"
                              novalidate>
                            <div class="input-group">
                                <input type="text" data-ng-model="name" class="form-control"
                                       placeholder="Rédiger un commentaire...">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                      </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!contenus.$resolved || contenus.length">
            Il n'y a pas de contenus dans cette catégorie <a href="/#!/contenus/create">create one</a>?
        </div>
    </div>
</section>
