<section class="row" data-ng-controller="SettingsController">
    <h3 class="col-md-12 text-center">Edit your profile</h3>
    <div class="panel panel-default  col-md-offset-3 col-md-6">
        <div class="panel-heading panel-heading-gray">
            Image Profile
        </div>
        <div class="panel-body">
            <form class="form-horizontal " ng-submit="upload(files)" novalidate >
                <fieldset>
                    <div class="inline">
                        <div class="col-xs-6">
                            <div class="thumbnail" >
                                <img id='image' ng-src={{image_data_thumbnail}} >
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control"  value="{{files[0].name}}">
                            <span class="input-group-btn">
                                        <button class="btn btn-primary btn-file" >
                                            <input type="file"  id="file"   ng-file-select  data-ng-model="files"  accept="image/*">
                                            <i class="fa fa-download"></i>
                                        </button>
                                    </span>
                        </div>
                    </div>
                    <br/>
                    <div class="progress">
                        <div class="progress-bar" id="bar1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"/>
                    </div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-xs pull-right " href="#" >upload</button>
                            </span>
                </fieldset>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
    </div>
</section>

