<div class="panel panel-default">

    {% if header !== false %}
    <div class="panel-heading">
        <div class="media">
            <a href="" class="pull-left"><img src="images/people/50/guy-1.jpg" class="media-object"></a>
            <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                <a href="">Mary</a>
                <span>on 15th January, 2014</span>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="panel-body">
        <p>Late Night Show Photos</p>
        <div class="timeline-added-images">
            <img src="images/people/110/child-1.jpg" width="80">
            <img src="images/people/110/guy-1.jpg" width="80">
            <img src="images/people/110/guy-2.jpg" width="80">
        </div>
    </div>
    <div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> Afficher Tout</a>  10 commentaires</div>
    <ul class="comments">
        <li>
            <div class="media">
                <a href="" class="pull-left"><img src="images/people/50/guy-5.jpg" class="media-object"></a>
                <div class="media-body">
                    <a href="" class="comment-author">Bill D.</a>
                    <span>Hi Mary, Nice Party</span>
                    <div class="comment-date">21st September</div>
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <a href="" class="pull-left"><img src="images/people/50/guy-1.jpg" class="media-object"></a>
                <div class="media-body">
                    <a href="" class="comment-author">Mary</a>
                    <span>Thanks Bill</span>
                    <div class="comment-date">2 days</div>
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <a href="" class="pull-left"><img src="images/people/50/guy-5.jpg" class="media-object"></a>
                <div class="media-body">
                    <a href="" class="comment-author">Bill D.</a>
                    <span>What time did it finish?</span>
                    <div class="comment-date">14 min</div>
                </div>
            </div>
        </li>
        <li class="comment-form">
            <div class="input-group">
                <input type="text" class="form-control"/>
                <span class="input-group-addon">
                   <a href=""><i class="fa fa-photo"></i></a>
                </span>
            </div>
        </li>
    </ul>
</div>