<div class="timeline row" data-toggle="gridalicious">
    <div class="timeline-block">
        {% include "timeline-blocks/photo-rating.html" %}
    </div>
    <div class="timeline-block">
        {% include "timeline-blocks/regular.html" %}
    </div>
    <div class="timeline-block">
        {% include "timeline-blocks/photo.html" %}
    </div>

    <div class="timeline-block">
        {% include "timeline-blocks/video.html" %}
    </div>
    <div class="timeline-block">
        {% include "timeline-blocks/weather.html" %}
    </div>
    <div class="timeline-block">
        {% include "timeline-blocks/profile.html" %}
    </div>
    <div class="timeline-block">
        {% include "timeline-blocks/event.html" %}
    </div>
    <div class="timeline-block">
        {% include "timeline-blocks/card.html" %}
    </div>
    <div class="timeline-block">
        {% include "timeline-blocks/paragraph.html" %}
    </div>
    <div class="timeline-block">
        {% include "timeline-blocks/recipe.html" %}
    </div>
</div>
