<div class="row">
    <div class="col-md-9">
        <ul class="timeline-list">
            <li class="media">

                <div class="pull-left">
                    <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">19 OCT</div>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            {% include "app/html/common/components/timeline/timeline-blocks/share.html" %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li class="media" id="october">
                <div class="pull-left">
                    <img src="images/people/110/guy-2.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">19 OCT</div>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            {% include "app/html/common/components/timeline/timeline-blocks/photo-rating.html" %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-9.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">11 OCT</div>
                </div>
                <div class="media-body">
                    {% include "app/html/common/components/timeline/timeline-blocks/regular.html" { header: false } %}
                </div>
            </li>
            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">3 OCT</div>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            {% include "app/html/common/components/timeline/timeline-blocks/photo.html" { header: false } %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-3.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">1 OCT</div>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            {% include "app/html/common/components/timeline/timeline-blocks/map.html" { header: false } %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="media"  id="september">
                <div class="pull-left">
                    <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">31 SEP</div>
                </div>
                <div class="media-body">
                    {% include "app/html/common/components/timeline/timeline-blocks/video.html" { header: false } %}
                </div>
            </li>
            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-9.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">20 SEP</div>
                </div>
                <div class="media-body" id="august">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            {% include "app/html/common/components/timeline/timeline-blocks/weather.html" { header: false } %}
                        </div>
                    </div>
                </div>
            </li>


            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-1.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">20 JUN</div>
                </div>
                <div class="media-body" id="june">
                    {% include "app/html/common/components/timeline/timeline-blocks/profile.html" %}
                </div>
            </li>
            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">11 MAI</div>
                </div>
                <div class="media-body" id="may">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            {% include "app/html/common/components/timeline/timeline-blocks/event.html" %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-6.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">9 MAI</div>
                </div>
                <div class="media-body">
                    {% include "app/html/common/components/timeline/timeline-blocks/card.html" %}
                </div>
            </li>
            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-3.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">3 MAI</div>
                </div>
                <div class="media-body">
                    {% include "app/html/common/components/timeline/timeline-blocks/paragraph.html" { header: false } %}
                </div>
            </li>
            <li class="media">
                <div class="pull-left">
                    <img src="images/people/110/guy-9.jpg" alt="people" class="img-circle" width="80"/>
                    <div class="date">29 AVR</div>
                </div>
                <div class="media-body">
                    {% include "app/html/common/components/timeline/timeline-blocks/recipe.html" { header: false } %}
                </div>
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <div data-spy="affix" data-offset-top="318" data-offset-bottom="100">
            <div id="scroll-spy">
                <ul class="nav timeline-months">
                    <li class="active"><a href="#october"><i class="fa fa-calendar fa-fw"></i>Octobre</a></li>
                    <li><a href="#september"><i class="fa fa-calendar fa-fw"></i>Septembre</a></li>
                    <li><a href="#august"><i class="fa fa-calendar fa-fw"></i>Aout</a></li>
                    <li><a href="#july"><i class="fa fa-calendar fa-fw"></i>Juillet</a></li>
                    <li><a href="#june"><i class="fa fa-calendar fa-fw"></i>Juin</a></li>
                    <li><a href="#may"><i class="fa fa-calendar fa-fw"></i>Mai</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>