.glyphicon-trash:hover {
    color: red;
}

.glyphicon-pencil:hover {
    color: #73db68;
}

.glyphicon-pencil {
    margin-right: 10px;
}

.panel-body {
    font-size: large;
    font-weight: bold;
}
