<div class="cover overlay">
    {% if menu !== false %}
    <ul>
        <li class="active"><a href="#"><i class="fa fa-clock-o"></i> <span>Mur</span></a></li>
        <li><a href="#"><i class="fa fa-user"></i> <span>A propos</span></a></li>
        <li><a href="#"><i class="fa fa-camera"></i> <span>Photos</span> <small>(102)</small></a></li>
        <li><a href="#"><i class="fa fa-group"></i><span> Amis </span><small>(19)</small></a></li>
        <li><a href="#"><i class="fa fa-envelope"></i> <span>Messages</span> <small>(2)</small></a></li>
    </ul>
    {% endif %}
    <img src="images/food1-full.jpg" alt="cover"/>
    <a href="#" class="btn btn-cover"><i class="fa fa-pencil fa-fw"></i></a>
</div>