<section data-ng-controller="EvenementsController as EvenementsCtrl" data-ng-init="EvenementsCtrl.find()">
    <div class="page-header">
        <h1>Evenements</h1>
    </div>
    <div class="text-center">
         <a ng-click="EvenementsCtrl.modalCreate(); EvenementsCtrl.find()">Créer un evenement</a>?
    </div>
    <div class="timeline-block">
        <div data-ng-repeat="evenement in evenementsList" class="panel panel-default">
            <div class="panel-heading">
                <div class="media">
                    <a href="" class="pull-left"><img src="images/people/50/guy-2.jpg" class="media-object"></a>

                    <div class="media-body">
                        <!--<a class="pull-right text-muted" ng-click="EvenementsCtrl.modalUpdate('lg',evenement)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>-->
                        <a class="pull-right text-muted" data-ng-click="EvenementsCtrl.remove(evenement)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <a class=""><span data-ng-bind="evenement.user.displayName"></span></a>
                        <span class=" dte">on <span data-ng-bind="evenement.created | date:'medium'"></span></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p>L'evenement <span class="titre">{{evenement.titre}} </span></p>
                <p> aura lieu  <span class="date">{{evenement.date | date:'medium'}}</span></p>
                <p>dans <span class="date">{{evenement.lieu}}</span></p>
                <p>{{evenement.description}}</p>
            </div>
        </div>
    </div>
</section>
